#Mac Stuff
.DS_Store
._*

#Build Stuff
build/
external/
*.pbxuser
*.perspectivev3
contents.xcworkspacedata
*.mode1*
*~.nib

#Patches
*.patch
*.diff
*.rej
*.orig

#svn stuff from flam3 repository
.svn/
