<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flam3</string>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>oxidizer</string>
			<key>CFBundleTypeName</key>
			<string>flam3</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.vargolsoft.oxidizer.flam3</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>oxidizer</string>
	<key>CFBundleIdentifier</key>
	<string>net.vargolsoft.oxidizer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>GitRevisionStringShort</key>
	<string>GIT_SHORT_HASH</string>
	<key>GitRevisionStringFull</key>
	<string>GIT_FULL_HASH</string>
	<key>CFBundleVersion</key>
	<string>GIT_NUM</string>
	<key>CFBundleShortVersionString</key>
	<string>GIT_TAG [GIT_SHORT_HASH]</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © VargolSoft, 2006 - 2011</string>
	<key>CFBundleGetInfoString</key>
	<string>GIT_TAG [GIT_SHORT_HASH], Copyright © VargolSoft, 2006 - 2011</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}.0</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
