// flam3-animate settings for all configurations


ARCHS = $(ARCHS_STANDARD_32_64_BIT)
INSTALL_PATH = /usr/local/bin
PREBINDING = NO
PRODUCT_NAME = flam3-animate
GCC_UNROLL_LOOPS = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2)
HEADER_SEARCH_PATHS = $(inherited) $(HEADER_SEARCH_PATHS_QUOTED_1)
USER_HEADER_SEARCH_PATHS = $(inherited) $(USER_HEADER_SEARCH_PATHS_QUOTED_2)
