// flam3 settings for all configurations


INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/flam3-Info.plist
PRODUCT_NAME = flam3
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) $(FRAMEWORK_SEARCH_PATHS_QUOTED_3)
HEADER_SEARCH_PATHS = $(inherited) $(HEADER_SEARCH_PATHS_QUOTED_1)
USER_HEADER_SEARCH_PATHS = $(inherited) $(USER_HEADER_SEARCH_PATHS_QUOTED_2)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_DEFINES)

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO  // Some of the png stuff used is deprecated.


GLOBAL_DEFINES = PACKAGE_DATA_DIR=\"$(SRCROOT)/ThirdParty/flam3\" SVN_REV=\"exported\"
