// Oxidizer settings for all configurations


INSTALL_PATH = $(HOME)/Applications
PREBINDING = NO
APPLY_RULES_IN_COPY_FILES = YES
INFOPLIST_FILE = $(SRCROOT)/Resources/Info.plist
WRAPPER_EXTENSION = app
INFOPLIST_PREPROCESS = YES

FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2)

HEADER_SEARCH_PATHS = $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited)

USER_HEADER_SEARCH_PATHS = $(inherited)

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
