// OxidizerQTDialogServer settings for all configurations


INSTALL_PATH = $(HOME)/Applications
PREBINDING = NO
APPLY_RULES_IN_COPY_FILES = YES
INFOPLIST_FILE = Resources/OxidizerQTDialogServer-Info.plist
INFOPLIST_PREPROCESS = YES
PRODUCT_NAME = OxidizerQTDialogServer
WRAPPER_EXTENSION = app
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1)
USER_HEADER_SEARCH_PATHS = $(inherited) $(HEADER_SEARCH_PATHS_QUOTED_1) $(HEADER_SEARCH_PATHS_QUOTED_2)

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

HEADER_SEARCH_PATHS_QUOTED_1 = "$(SRCROOT)/src"
HEADER_SEARCH_PATHS_QUOTED_2 = "$(SRCROOT)/../src"
